*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    color: #555;
    font-size: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

body {
    line-height: 1.6;
    box-sizing: border-box;
}

.row {
    max-width: 114rem;
    margin: 0 auto;
}

.landing-page {
    height: 100vh;
    background-image: linear-gradient(rgba(16, 29, 44, .85), rgba(16, 29, 44, .85)), url(img/scooters6_large.jpg);
    background-size: cover;
    background-position: top;
    overflow: hidden;
}

.access-box {
    position: absolute;
    top: 40%;
    left: 50%;
    text-align: center;
}

.landing__intro {
    color: #ccc;
    margin-left: 14rem;

    animation: moveInLeft 1s ease-out;
}

.landing__tag-line {
    color: #ccc;
    margin-left: 18rem;
    font-style: italic;

    animation: moveInUp 1s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(.3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInUp {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}
.header {
    display: flex;
    justify-content: space-between;
    background-color: #101d2c;
    align-items: center;
}

/*LOGO*/
.header__logo {
    height: 3.25rem;
    margin: 1rem 0 1rem 3rem;
}

.header__user {
    color: #999;
    margin-right: 3rem;
}


.form__input {
    font-size: 1.2rem;
    font-family: inherit;
    color: #222;
    padding: 1.5rem 1.5rem .5rem;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: 2px solid #555;
    width: 90%;
    display: block;
    transition: all .3s;
}

.form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0,0,0, .1);
    border-bottom: 1px solid #1db565;
}

.form__input:focus:invalid {
    border-bottom: 1px solid #cd5c5c;
}

.form__input::-webkit-input-placeholder {
    color: #999;
}

.form__label {
    font-size: .9rem;
    font-weight: 700;
    margin-left: -8rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s;
}


.form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
}

.form__checkbox-group {
    margin: 1.7rem 2rem 1.5rem 0;
}


.form__checkbox-label {
    color: #333;
    font-size: 1.2rem;
}

.have-account {
    color: #333;
    margin-top: 1rem;
}

.no-account {
    color: #333;
    margin-top: 1rem;
}

.form__container {
    margin: 10% auto 0;
    padding: 1rem;
    height: 70%;
    width: 30%;
    opacity: 1;
    background-image: radial-gradient(#fff, #fff);
    border-radius: .4rem;
}

.form__container2 {
    margin: 6% auto;
    padding: 1rem;
    height: 50%;
    width: 80%;
    opacity: 1;
}

.close {
    color: #aaa;
    float: right;
    font-size: 4.8rem;
    font-weight: bold;
    margin-right: 2rem;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.u-margin-top-small {
    margin-top: 2rem;
}

.u-margin-right-small {
    margin-right: 2rem;
}

.access__form {
    padding: 15% 0 0 8%;
    text-align: center;
}

.registration__background,
.login__background {
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;

    display: none;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0, 0.1)
    z-index: 1000;
}

.landing__btn-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.btn {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    cursor: pointer;
}


.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
}

.btn:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgba(0,0,0, .2);
}

.btn:active {
    transform: translateY(-.1rem);
    box-shadow: 0 .5rem 1rem rgba(0,0,0, .2);
}

.btn-golden {
    background-color: #b28451;
    color: #292929;
}

.btn-darkblue {
    background-color: #101d2c;
    color: #ccc;
}

.btn-text:link,
.btn-text:visited {
    margin-top: 1rem;
    color: #b28451;
    display: inline-block;
    text-decoration: none;
    border-bottom: .1rem solid #c69963;
    padding: .3rem;
    transition: all .2s;
}

.btn-text:hover {
    background-color: #c69963;
    color: #fff;
    box-shadow: 0 1rem 2rem rgba(0,0,0, .15);
    transform: translateY(-.2rem);
}

.btn-text:active {
    box-shadow: 0 .5rem 1rem rgba(0,0,0, .15);
    transform: translateY(0);
}

.user-dd {
    position: relative;
    align-self: stretch;
    padding: 0 !important;
}

.user-dd-field {
    display: flex;
    cursor: pointer;
    padding: 0 4rem;
    padding-left: 1.59rem;
    align-items: center;
    height: 100%;
    transition: all .3s;
}

.user-dd-field:hover {
    background-color: #b28451;
}

.user-dd-content:hover,
.user-dd-field:hover + .user-dd-content {
    visibility: visible;
    opacity: 1;
}

.delivery-create__icon {
    padding-top: 0.3rem;
}

.dd-icon {
    fill: #b28451;
    height: 2.25rem;
    width: 2.25rem;
}

.user-dd-content {
    position: absolute;
    right: 0;
    top: 5.6rem;
    z-index: 10;
    padding: 2rem 0;
    width: 17.1rem;
    background-color: #fff;
    box-shadow: 0 0.8rem 5rem 2rem rgba(101, 90, 86, 0.1);
    visibility: hidden;
    opacity: 0;
    transition: all .5s .2s;
}

.user-dd {
    padding: 3rem 0;
}

.user-dd-menu {
    list-style: none;
}

.user-dd-link:link,
.user-dd-link:visited {
    display: flex;
    align-items: center;
    padding: 1.5rem 3rem;
    transition: all .3s;
    border-right: 1px solid #fff;
    text-decoration: none;
}

.user-dd-link:hover {
    background-color: #f9f5f3;
    transform: translateY(-2px);
}

.user-dd-link:active {
    background-color: #f9f5f3;
}

.user-dd-name,
.user-dd-wrapname {
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: .3rem;
}

.user-dd-name {
    color: #54483a;
}

.user-dd-wrapname {
    color: #8d7d69;
}

.user-dd-wrapname:hover {
    color: #0c0b08;
}



.parcels-container {
    display: flex;
    border-radius: 2rem;
}


.parcels-section {
    display: flex;
    padding: 4.5rem;
    background-color: #faf9f9;
    border-bottom: 1px solid #f4f2f2;
}

.parcel-world {
    display: flex;
}

.parcels-content,
.parcel-properties {
    flex: 0 0 65%;
    border-radius: 1rem;
}

.parcels-content {
    background-color: #eee;
    margin: 0.3rem 4.5rem 4.5rem 1.5rem;
    box-shadow: 0 2rem 5rem rgba(0,0,0, .06);
}

.parcel-properties {
    margin: 1.5rem 4.5rem 4.5rem 1.5rem;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 2rem 5rem rgba(16,29,44, .06);
}

.parcel-action {
    flex: 1;
    border-radius: 1rem;
    margin: 1.5rem 2.5rem 4.5rem 0rem;
    padding: 2rem;
    background-color: #fff;
}

.parcel-descript {
    display: flex;
    justify-content: space-around;
}

.parcels-sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #eee;
    border-radius: 1rem;
}


.gallery {
    display: flex;
}

.gallery__photo {
    width: 100%;
    display: block;
    overflow: hidden;
}

/*SEARCH*/
.search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    padding: .7rem 2rem;
    border-radius: 10px;
}


.search__icon {
    height: 2rem;
    width: 2rem;
}

.search-container {
    display: flex;
    justify-content: center;
}

/*SIGNING IN AND LOGGING OUT*/
.admin-way__items {
    display: flex;
    text-decoration: none;
    color: inherit;
}

.admin-way__icon {
    height: 2.1rem;
    width: 2.25rem;
    margin: -.1rem 3rem 0 .1rem;
}


.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search__label {
    margin-right: .4rem;
    color: #b28451;
    font-size: 1.3rem;
    font-weight: 300;
}

.search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    width: 90%;
    transition: all .2s;
    margin-right: -2.4rem;
}

.search__input:focus {
    outline: none;
    width: 100%;
}

.search__button {
    border: none;
    border-left: 1px solid #aaa;
    background-color: #fff;
}

.search__button:focus {
    outline: none;
}

.search__button:active {
    transform: translateY(.2rem);
}

.search__icon {
    height: 2rem;
    width: 2rem;
}


.my-parcels {
    color: #292929;
    background-color: #b28451;
    justify-content: space-between;
}

.my-parcels__heading {
    display: flex;
    align-items: center;
    margin-left: -2rem;
    margin-right: auto;
}

.my-parcels__icon-gift {
    height: 4rem;
    margin-right: -7rem;

}

.my-parcels__title {

}

.my-parcels__icon {
    height: 2.25rem;
    width:2.25rem;
}


.my-parcels__status {
    display: flex;
    align-items: center;
    margin-right: 3rem;
}

.my-parcels-status__queue {
    margin-right: 2rem;
    margin-left: 1rem;
}

.my-parcels-status__transit {
    margin-right: 2rem;
    margin-left: 1rem;
}

.my-parcels-status__delivered {
    margin-right: 2rem;
    margin-left: 1rem;
}

.queue-count {
    margin-left: 1rem;
}

.transit-count {
    margin-left: 1rem;
}

.delivered-count {
    margin-left: 1rem;
}

.delivery-orders {
    display: flex;
    flex-wrap: wrap;

    padding: 3rem;
}

.order {
    margin: 4.5rem 0 4.5rem 2.5rem;
    max-width: 18rem;
}

.delivery-press {
    text-align: center;
}

.new__order {
    display: flex;
    justify-content: center;
}


.delivery__total {
    background-color: #54483a;
    color: #ccc;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.numbers {
    font-size: 8rem;
    font-weight: 400;

}

.grammar {
    font-size: 2.25rem;
    text-align: center;
}

.filter-categories {
    margin-bottom: 18rem;
    text-align: center;
}

.filters__list {
    list-style: none;
}

.list__item {
    margin: 1rem;;
}

.filter__item:link,
.filter__item:visited {
    display: inline-block;
    font-size: 1.35rem;
    font-weight: 300;
    color: #292929;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #c69963 50%);
    background-size: 220%;
    transition: all .4s;
}

.filter__item:hover,
.filter__item:active {
    background-position: 100%;
    color: #121212;
    transform: translateX(1rem);
}

.spacing {
    margin-left: 1rem;
}

.create-order {
    margin: 0 auto;
    background-color: #fafafa;
    max-width: 28rem;
}

.create {
    margin-top: 2rem;
}

.tabular {
    text-align: center;
    margin-top: 2rem;
    font-size:  3rem;
}

.odd {
    background-color: #c69963;
}

.footer {
    background-color: #333;
}

.legal {
    font-size: 1.2rem;
    color: #ccc;
    text-align: center;
    padding: 2.5rem;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .15;
    overflow: hidden;
}

.bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.display-status {
    padding: 3rem;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid #aaa;
    display: flex;
    justify-content: center;
}

.display-status-btn {
    padding: 3rem;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.parcel-status {
    text-align: center;
    text-transform: uppercase;
}

.change {
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: .2rem;
    transition: all .2s;
    cursor: pointer;
}

.profile-page {
    background-color: #eee;
}

.profile-pic {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    position: relative;
}

.profile-img {
    height: 100%;
    transform: translateX(-4rem);
    backface-visibility: hidden;
    transition: all .5s;
}

.user-pf {
    background-color: orangered;
    margin: .4rem auto;
    width: 60%;
    padding: 2rem;
    padding-top: 4rem;
}

.user-profile__outer {
    margin: 0 auto;
    max-width: 480rem;
}

.pic-house {
    position: relative;
    width: 100%;
}

.small-gallery__photo {
    width: 100%;
    height: 12rem;
    overflow: hidden;
    position: absolute;
    opacity: 0;
    transition: all .5s;
    object-fit: cover;
    backface-visibility: hidden;
}

.order:hover .small-gallery__photo {
    opacity: .5;
}

