*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    color: #555;
    font-size: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

body {
    line-height: 1.6;
    box-sizing: border-box;
}

.row {
    max-width: 114rem;
    margin: 0 auto;
}

.landing-page {
    height: 100vh;
    background-image: linear-gradient(rgba(16, 29, 44, .85), rgba(16, 29, 44, .85)), url(img/scooters6_large.jpg);
    background-size: cover;
    background-position: top;
    overflow: hidden;
}

.admin-landing {
    overflow: hidden;
}

.access-box {
    position: absolute;
    top: 40%;
    left: 50%;
    text-align: center;
}

.landing__intro {
    color: #ccc;
    margin-left: 14rem;

    animation: moveInLeft 1s ease-out;
}

.landing__tag-line {
    color: #ccc;
    margin-left: 18rem;
    font-style: italic;

    animation: moveInUp 1s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(.3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInUp {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}
.header {
    display: flex;
    justify-content: space-between;
    background-color: #101d2c;
    align-items: center;
}

/*LOGO*/
.header__logo {
    height: 3.25rem;
    margin: 1rem 0 1rem 3rem;
}

.header__user {
    color: #999;
    margin-right: 3rem;
}

.admin__form {
    margin-left: 8rem;
}


.form__input {
    font-size: 1.2rem;
    font-family: inherit;
    color: #555;
    padding: 1.5rem 1.5rem .5rem;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: 1px solid #555;
    width: 90%;
    display: block;
    transition: all .3s;
}

.form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0,0,0, .1);
    border-bottom: 1px solid #c69963;
}

.form__input:focus:invalid {
    border-bottom: 1px solid #cd5c5c;
}

.form__input::-webkit-input-placeholder {
    color: #999;
}

.form__label {
    font-size: .9rem;
    font-weight: 700;
    margin-left: -17rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s;
}

.email-label {
    margin-left: -15.5rem;;
}

.form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
}

.form__checkbox-group {
    margin: 2rem 2rem 3rem .1rem;
}

.form__container {
    height: 50%;
    width: 0%;
    position: fixed;
    top: 11rem;
    right: 43.5rem;
    z-index: 1500;

    opacity: 0;
}

.form__container2 {
    height: 50%;
    width: 0%;
    position: fixed;
    top: 16rem;
    right: 43.5rem;
    z-index: 3000;

    opacity: 0;
}

.access__form {
    /*position: absolute;*/
    top: 80%;
    left: 50%;
    text-align: center;
}

.registration {
    /*position: relative;*/
}

.registration__checkbox {
    display: none;
}

.login__checkbox {
    display: none;
}

.registration__button {

}

.registration__background {
    position: absolute;
    top: 42%;
    left: 52%;
    text-align: center;

    height: 2.8rem;
    width: 2.5rem;
    border-radius: .2rem;

    z-index: 1000;
}

.registration__checkbox:checked ~ .registration__background {
    background-image: radial-gradient(#fff8dc, #fff8dc);
    transform: scale(12);
}

.registration__checkbox:checked + .btn-golden {
    transform: translateX(-15rem);
}

.registration__checkbox:checked ~ .form__container {
    opacity: 1;
    width: 20%;
}

.login__checkbox:checked ~ .registration__background {
    background-image: radial-gradient(#fff8dc, #fff8dc);
    transform: scale(12);
    z-index: 2500;
}

.login__checkbox:checked + .btn-darkblue {
    transform: translateX(15rem);
}

.login__checkbox:checked ~ .form__container2 {
    opacity: 1;
    width: 20%;
}


.btn {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    cursor: pointer;
}


.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
}

.btn:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgba(0,0,0, .2);
}

.btn:active {
    transform: translateY(-.1rem);
    box-shadow: 0 .5rem 1rem rgba(0,0,0, .2);
}

.btn-golden {
    position: absolute;
    top: 40%;
    left: 45%;
    text-align: center;
    background-color: #b28451;
    color: #292929;
    z-index: 2000;
}

.btn-golden2 {
    background-color: #b28451;
    color: #292929;
}

.btn-darkblue {
    position: absolute;
    top: 40%;
    left: 55%;
    text-align: center;
    background-color: #101d2c;
    color: #ccc;
}

.btn-text:link,
.btn-text:visited {
    margin-top: 1rem;
    color: #b28451;
    display: inline-block;
    text-decoration: none;
    border-bottom: .1rem solid #c69963;
    padding: .3rem;
    transition: all .2s;
}

.btn-text:hover {
    background-color: #c69963;
    color: #fff;
    box-shadow: 0 1rem 2rem rgba(0,0,0, .15);
    transform: translateY(-.2rem);
}

.btn-text:active {
    box-shadow: 0 .5rem 1rem rgba(0,0,0, .15);
    transform: translateY(0);
}

.parcels-container {
    display: flex;
    border-radius: 2rem;
}


.parcels-section {
    display: flex;
    padding: 4.5rem;
    background-color: #faf9f9;
    border-bottom: 1px solid #f4f2f2;
}

.parcels-content {
    background-color: #eee;
    box-shadow: 0 2rem 5rem rgba(0,0,0, .06);
    flex: 0 0 65%;
    margin: 0.3rem 4.5rem 4.5rem 1.5rem;
    border-radius: 1rem;
}

.parcels-sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #eee;
    border-radius: 1rem;
}

.parcels-overview {

}

.gallery {
    display: flex;
}

.gallery__photo {
    width: 100%;
    display: block;
    overflow: hidden;
}

/*SEARCH*/
.search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    padding: .7rem 2rem;
    border-radius: 10px;
}

.search__button {

}

.search__icon {
    height: 2rem;
    width: 2rem;
}

.search-container {
    display: flex;
    justify-content: center;
}

/*SIGNING IN AND LOGGING OUT*/
.admin-way__items {
    display: flex;
    text-decoration: none;
    color: inherit;
}

.admin-way__icon {
    height: 2.1rem;
    width: 2.25rem;
    margin: -.1rem 3rem 0 .1rem;
}


.my-parcels {
    /*display: flex;*/
    color: #292929;
    background-color: #b28451;
    justify-content: space-between;
}

.my-parcels__heading {
    display: flex;
    align-items: center;
    margin-left: -2rem;
    margin-right: auto;
}

.my-parcels__icon-gift {
    height: 4rem;
    margin-right: -7rem;

}

.my-parcels__title {

}

.my-parcels__icon {
    height: 2.25rem;
    width:2.25rem;
}


.my-parcels__status {
    display: flex;
    align-items: center;
    margin-right: 3rem;
}

.my-parcels-status__queue {
    margin-right: 2rem;
    margin-left: 1rem;
}

.my-parcels-status__transit {
    margin-right: 2rem;
    margin-left: 1rem;
}

.my-parcels-status__delivered {
    margin-right: 2rem;
    margin-left: 1rem;
}

.queue-count {
    margin-left: 1rem;
}

.transit-count {
    margin-left: 1rem;
}

.delivered-count {
    margin-left: 1rem;
}

.delivery-orders {
    display: flex;
    flex-wrap: wrap;

    padding: 3rem;
}

.order {
    margin: 4.5rem 0 4.5rem 2.5rem;
    max-width: 18rem;
}

.delivery-press {
    text-align: center;
}

.new__order {
    display: flex;
    justify-content: space-between;
}


.delivery__total {
    background-color: #54483a;
    color: #ccc;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.numbers {
    font-size: 8rem;
    font-weight: 400;

}

.grammar {
    font-size: 2.25rem;
}

.filter-categories {
    margin-bottom: 18rem;
    text-align: center;
}

.filters__list {
    list-style: none;
}

.list__item {
    margin: 1rem;;
}

.filter__item:link,
.filter__item:visited {
    display: inline-block;
    font-size: 1.35rem;
    font-weight: 300;
    color: #292929;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #c69963 50%);
    background-size: 220%;
    transition: all .4s;
}

.filter__item:hover,
.filter__item:active {
    background-position: 100%;
    color: #121212;
    transform: translateX(1rem);
}

.spacing {
    margin-left: 1rem;
}

.create-order {
    margin: 0 auto;
    background-color: #fafafa;
    max-width: 28rem;
}

.create {
    margin-top: 2rem;
}

.tabular {
    text-align: center;
    margin-top: 2rem;
    font-size:  3rem;
}

.odd {
    background-color: #c69963;
}